.box-card{
  margin-top: 5.000em;

  h2{
    font-size: 1.375em;
    color: #736F6C;
  }
  
  &-title{
    font-size: 14px;
  }

  &-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.250em;
    
    border: 1px solid #ced4da;
    border-radius: .25rem;

    &-items{
      h4,h5{
        color: #82898B;
        margin: 0.625em 0;
        font-size: 1.125em;
      }

      &-list{
        list-style: none;

        li:first-child{
          border-radius: 0.625em;
          background: #e0dddd4a;
          font-size: 1.063em;
          font-weight: 500;
         
          margin: 0;
          padding: 0.500em 0.938em;
        }
      
        li{
          display: inline-flex;
          margin: 0 0.625em;
        }
      }

      &-heart{
        border: 1px solid #ccc;
        
        padding: 20px;
        margin-top: 34px;
        display: block;
        cursor: pointer;
      }
    }
  }
}