.header{
	background: #e0dddd4a;
	// -moz-box-shadow: 0 0 14px 5px #d8d8d8;
	// -webkit-box-shadow: 0 0 14px 5px #d8d8d8;

	padding: 1.250em 1.250em 1.875em 1.250em;

	&-title{
		color: #bbb;
		text-transform: uppercase;
	}
}