.header{
	background: #e0dddd4a;
	-moz-box-shadow: 0 0 14px 3px #eae8e8;
	-webkit-box-shadow: 0 0 14px 3px #eae8e8;

	padding: 1.250em 1.250em 1.875em 1.250em;

	&-title{
		color: #bbb;
		text-transform: uppercase;

    padding-top: 0.500em;
	}
}